* {
    margin: 0;
}

html {
    font-family: 'Roboto';
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Roboto-Regular.ttf') format('truetype');
}